.caja{
    width: 50%;
    height:50px;
    margin:30px;
    background-color: antiquewhite;
}

.caja2{
    width: 20%;
    height:50%;
    margin: 1px;
    background-color: red;
}

.header{
background-color: aqua;
margin-top: 10px;
width: 40%;height: 50px
}

