/* selector clase*/
.enlace-menu{
    color: darkgoldenrod;
    font-size: 24px;
    background-color:black;
    margin:0px 20px;
    text-decoration: none;
}
.fondo.fotos{

background-color: orangered;
margin:10px 10px;
width: 600px;
padding-right: 10cm;
}