/* selector clase*/
.enlace-menu{
    color: pink;
    font-size: 24px;
    background-color:black;
    margin:0px 20px;
    text-decoration: none;
    font-style: oblique;
}
.linea-menu{

background-color: white;
font-size: larger;
font-style: italic;
margin:10px 10px;
}

.cuerpo-pagina{
    color:pink;
    font-size: 24px;
    background-color:black;
    margin:0px 20px;
    text-decoration: none;
    padding-right: 20cm;
    font-family: 'Times New Roman', Times, serif;
    
}